body {
  font-family: system-ui, sans-serif;
  margin: 40px;
  background-image: url('VinylBG1.jpg');
}

h1 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: red;
}

.nav {
  display: flex;
  gap: 20px;
  background-color: rgb(0, 0, 0);
  margin-right: 945px;
  padding: 5px;
}
