.album_name{
    margin-top: 5px;
    text-align: center;
}
.album_artist{
    text-align: center;
}
.album_image{
    
    margin-right: auto;
}
.album_audio{
    max-width: fit-content;
    
    margin-inline: auto;
}
.submit_button{
    margin-left: 48%;
    margin-right: auto;
    margin-top: 10px;
}

