.album_name{
    margin-top: 5px;
    text-align: center;
}
.album_artist{
    text-align: center;
}
.album_image{
    margin-right: auto;
}
.album_audio{
    max-width: fit-content;
    
    margin-inline: auto;
}
.submit_button{
    margin-left: 48%;
    margin-right: auto;
    margin-top: 10px;
}
.nav-home{
  position : absolute;
  bottom: 10px;
  right: 10px;
}
body{
    background-image: url('Man_point.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(86, 66, 44);
}
#arrow1{
    position: absolute;
    top: 8%;
    left: 15%;
    transform: translate(-50%, -50%);
    rotate: 180deg;
}
#arrow2{
    position: absolute;
    top: 20%;
    left: 13%;
    transform: translate(-50%, -50%);
    rotate: 220deg;
}
#arrow3{
    position: absolute;
    top: 30%;
    left: 7%;
    transform: translate(-50%, -50%);
    rotate: 255deg;
}
#spinning-thingy {
  position: absolute;
  top: 2%;
  right: 2%;
}
#spinning-thingy:hover {
  transition: 0.9s;
  transform: rotateZ(360deg);
}