html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(86, 66, 44);
}
h1 {
    font-size: 2em;
    background-color: rgb(86, 66, 44);
    text-align: center;
    padding: 15px;
}
#LIB_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-image: url('WoodBGLIB.jpg');
}
#LIB_container div {
    background-image: url(VinylBG2.jpg);
    border: 2px solid black;
    cursor: pointer;
    margin: 25px;
    margin-top: 15%;
    height: 110px;
    padding: 20px;
    font-size: 1.2rem;
}
.nav-sort-re {
  display: flex;
  position: absolute;
  gap: 20px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}
.nav-sort-alf {
  display: flex;
  position: absolute;
  gap: 20px;
  background-color: rgb(0, 0, 0);
  padding: 5px;

}
#spinning-thingy {
  position: absolute;
  top: 2%;
  right: 2%;
}
#spinning-thingy:hover {
  transition: 0.9s;
  transform: rotateZ(360deg);
}
