.body {
  background-color: lightgreen;
  transition: background-color .5s;
}

.player {
  position: absolute;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#embed-iframe {
  position: absolute;
  border-radius: 12px;
  top: 2%+55px;
}
#spinning-thingy {
  position: absolute;
  top: 2%;
  left: 2%;
}
#spinning-thingy:hover {
  transition: 0.9s;
  transform: rotateZ(360deg);
}