.body {
  background-color: lightgreen;
  transition: background-color .5s;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#spinning-thingy img {
  position: absolute;
  animation: spin 4s linear infinite;
  z-index: -1;
}