.body {
  background-color: lightgreen;
  transition: background-color .5s;
}

.player {
  position: absolute;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#embed-iframe {
  position: absolute;
  border-radius: 12px;
  top: 2%+55px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-thingy {
  animation: spin 2s linear infinite;
}

#spinning-thingy:hover {
  transition: 0.9s;
  transform: rotateZ(360deg);
}
