html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 2em;
    background-color: lightgray;
    text-align: center;
    padding: 15px;
}
.LIB_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: lightgray;
    
}
.LIB_container div {
    background-color: blue;
    cursor: pointer;
    margin: 15px;
    height: 100px;
    padding: 20px;
    font-size: 1.5rem;
}