html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 1rem;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
.LIB_container {
    display: flex;
    background-color: black;
}
.LIB_container div {
    background-color: blue;
    margin: 5px;
    padding: 20px;
    font-size: 1.5rem;
}